
#header {
  background: #1e90ff;
}

#header > nav ul li {
  border-top-color: #6495ed;
}

#header > nav ul li a.active {
  color: #1e90ff !important;
}

#header > header .avatar {
  margin-top: -1em;
  margin-bottom: 1em;
}

header.major h2 {
  color: #1e90ff;
}

#titleBar .toggle:before {
  background: #1e90ff;
}

a:hover {
  color: #1e90ff !important;
}

h4 a {
  text-decoration-line: underline;
}

.info-list {
  margin: 0 0 2.25em 0;
}

.info-list * {
  margin: 0;
}

.image-standalone-block {
  display: inline-block;
  padding: 1em;
  width: 100%;
}

.image-standalone-block img {
  display: block;
  width: 100%;
}

.image-standalone-block figcaption {
  font-style: italic;
  padding: 0.25em;
  text-align: center;
}
